.vs
src/Core.Application/obj
src/Core.Application.Contracts/obj
src/Core.Domain.Persistence/obj
src/Infrastructure.Persistence/obj
src/Web.Api/obj
src/Web.Framework/bin
src/Web.Framework/obj
src/Web.Api/bin
src/Core.Application/bin
src/Core.Application.Contracts/bin
src/Core.Domain.Persistence/bin
src/Infrastructure.Persistence/bin
src/Infrastructure.RabbitMq/bin
src/Infrastructure.RabbitMq/obj
src/Core.Domain.RabbitMq/bin
src/Core.Domain.RabbitMq/obj
src/Web.Api/serilogs
.vscode
src/obj
src/Core.Domain.Shared/obj
src/Infrastructure.Shared/obj
src/Core.Domain.Shared/bin
src/Infrastructure.Shared/bin
src/Web.Api/appsettings.Development.json
